/* html {
    font-family: 'Koulen', cursive;
} */
/* 전체 바디에 관련된 CSS */
body {
    margin: 0;
    background-color: rgba(193, 235, 248, 0.753);
}
/* 헤더에 대한 CSS */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 165, 182, 0.986);
    height: 130px;
    align-items: center;
}
/* 링크에 대한 CSS */
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* 로고 */
#navbar__logo {
    font-family: 'Koulen', cursive;
    
    display: flex;
    height: 130px;
    margin: 0px;
    padding: 0 20px;
    font-size: 20px;
    align-items: center;
    color: rgb(255, 255, 255);
}
.name {
    margin: 10px;
    font-size: 30px;
}

/* 메뉴 */
.navbar__menu {
    font-family: 'Sunflower', sans-serif;
    font-size: 18px;
    /* height: 130px; */
}
.navbar__menu ul {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    color: rgb(255, 255, 255);
    /* background-color: rgb(255, 255, 255); */
}
.navbar__menu li {
    /* background-color: rgba(0, 0, 0, 0); */
    /* border-left: 1px solid;
    border-right: 1px solid; */
    
    width: 120px;
    height: 50px;
    padding: 30px;
    margin-left: 2px;
    border-radius: 8px;


}
.navbar__menu li:hover {
    background-color: rgba(10, 8, 110, 0.336);
    border-radius: 8px;
    border: 5px;
    border-color: rgba(19, 2, 2, 0.205);
    border-bottom-style: solid;

    transition : 0.5s;
    transform: scale(1,1.11);

    /* background-color : rgb(50,50,255); */
    /* color : white; */
    /* transition : 2s; */
}

/* 공유 아이콘 */
.navbar__sharing ul {
    display: flex;
    /* flex-direction: column; */
    padding: 15px;
    margin: 30px 30px 30px 10px;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 30px
}
.navbar__sharing li {
    justify-content:space-between;
    padding-left: 20px;
} 

/* 미디어쿼리 적용(반응형 웹) */
@media screen and (max-width:1620px) {

    .nav {
        flex-direction: column;
        align-items: flex-start;
        height: 130px;
    
    }

    .navbar__menu {
        /* background-color: aqua; */
        justify-content: space-between;
        align-items: center;
        height: 300px;
        width: 100%;
        background-color: rgba(34, 165, 182, 0.986);
        
    }

    .navbar__menu li {
        /* background-color: rgba(19, 2, 2, 0.205); */
        padding: 10px;
        width: 100vh;
        height: 70px;
        justify-content: center;
        

    }

    .navbar__sharing {
        position: absolute;
        right: 5px;
    }

}